<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
              
        
    </head>  
    
    <body>
        
        <center>                      
        <img src="../../View/Img/ramon.jpg">
                  
        <form action="../../View/registroView/ViewLogic/ClientesViewLogic.php" method="post">
           
            <table>
                
                <tr>
                    
                    <td>
                                                                  
                        <h3>Identificacion
                            <input class="form - control" type="text" name="identificacion">
                       </h3>
                    </td>
                    
                </tr>
                
                <tr>
                <td>
                    <h3>
                      Nombre
                   <input class="form - control" type="text" name="nombre">  
                    </h3>
                      
                </td>                             
                    
                </tr>
                                                                           
                <tr>
                
                        <td>
                             <h3>
                             Celular
                             <input class="form - control" type="text" name="Celular"> 
                            </h3>
                        
                        </td>
                </tr>          
                 
                
                <tr>
                
                    <td>
                        <input type="submit" value="Registar">
                        <input type="reset" value="Borrar">
                    </td>           
                    
                </tr>
                
                               
            </table>
                
            
            
            
       </form>
        
    
 
         <div id="footer">
                <hr size="2" noshade="noshade" />
               <?php echo $loggedinas ?>
               <?php echo $homelink ?>
        </div>
        
    <br>Correo electronico: ramonchiripe2017@gmail.com</br>
    <br>Celular:3158967906</br>
    <br>Direccion: calle 13 n°2-22 las ferias</br>
    
    <tr>
        <td>
           <img src="../../View/Img/wasa.jpg" width="37"> 
        </td>
        
        <td>
           <img src="../../View/Img/instagran.jpg" width="48"> 
        </td>
        
        <td>
           <img src="../../View/Img/face.jpg" width="32"> 
        </td>
       
    </tr>
         
        
         </center> 
   
                        <p class="copyright">Copyright DILS &copy;
	                             <script>document.write(new Date().getFullYear());</script>
	                              All rights reserved |
                                      <i class="" aria-hidden="true"></i> by
                                     <a href="http://localhost/ProyectoHotelramon/View/Html/Clientes.html" target="_blank">www.hotelramon.org.co</a>
                        </p>
    </body>
    
       
    
</html>
