<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <center>
            <img src="../Img/matrimonial.jpg">
             
        <h1>RESERVAR</h1>
        <form action="../registroView/ViewLogic/habitacionIndividual.php" method="post">
            
       <table>
                
                <tr>                   
                    <td>                                                                 
                        <h3>
                            NOMBRES
                            <input type="text" name="Nombres">
                       </h3>
                    </td>                   
                </tr>
                
                <tr>
                <td>
                    <h3>
                      APELLIDOS
                   <input type="text" name="Apellidos">  
                    </h3>                     
                </td>                                                
                </tr>
                                                                           
                <tr>               
                        <td>
                             <h3>
                             CELULAR
                             <input type="text" name="Celular">
                            </h3>                       
                        </td>
                </tr>          
                 
                
                <tr>               
                    <td>
                        <input type="submit" value="RESERVAR">
                        <input type="reset" value="Borrar">
                    </td>                               
                </tr>
                
                               
            </table> 
        </form>
    </center>
    </body>
</html>
