<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="Stylesheet" href="../Css/Style.css">
    </head>
    
     <body>
                   
        <section class="form-login">
            <h5>Rgistrar</h5>   
          <input class="controls" type="text" name="Usuario" value="" placeholder="Usuario">
          <input class="controls" type="text" name="Usuario" value="" placeholder="Ingrese tu Correo Electronico">
          
          <input class="controls" type="password" name="Contraseña" value="" placeholder="Contraseña">
          <input class="controls" type="password" name="Contraseña" value="" placeholder="Repite la Contraseña">
                           
          
          <input class="buttons" type="submit" value="Confirmar">
                   
          
        </section> 
    </body>
</html>
