
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <center>
        
        <h1>ROL</h1>
        
        
        <form action="../../View/registroView/ViewLogic/ClientesViewLogic.php" method="post">
           
            <table>
            
                
                <tr>
                    
                    <td>
                        C
                        
                      
                        <input type="submit" value="INGRESAR">
                    </td>
                    
                </tr>
                
                <tr>
                    
                    <td>
                        AMNINISTRADOR
                        <input type="submit" value="INGRESAR">
                    </td>
                </tr>
                    
                
                <tr>
                    
                    <td>
                        RECEPCIONISTA
                        <input type="submit" value="INGRESAR">
                    </td>
                    
                </tr>
                
                <tr>
                    
                    <td>
                        CAMARERA
                        <input type="submit" value="INGRESAR">
                    </td>
                    
                </tr>
                
            </table>
            
            
       </form>
            
         </center>   
    </body>
    
</html>
