<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="Stylesheet" href="../Css/Style.css">
    
    </head>
       
    <body>
                   
        <section class="form-login">
            <h5>Restablecer Contraseña</h5>   
          <input class="controls" type="text" name="Usuario" value="" placeholder="Ingrese tu Correo Electronico">
                           
          <input class="buttons" type="submit" value="Restablecer mi Contraseña">
          
          <p>Su nuevo Contraseña sera Enviado al numero de celular</p>
          
          
        </section> 
    </body>
</html>
